
/*Using a softer white for the background color of all pages*/
/*style has a property:value; structure*/
body {
    background-color:antiquewhite;
}

/*Using reddish colors for headers, instead of black*/
h1 {
    color:#A52C4B;
}
h2 {
    color:#BE3640;
}
h3 {
    color:#CC573B;
}

/*Almost black text; but it's really a very dark green*/
p {
    color:#043026;
}
/*Giving both tables a strong border, for easier reading, and some padding*/


table, th, tr, td {

    border: 5px solid black;
    border-collapse: collapse;
    padding:10px;
}
/*Dressing up the font in the Academic table*/
.t1 caption {
    font-size:150%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

/* The class t1 table gets SCSU blue background for the table header*/
.t1 th {
    background-color: #0066ff;
}
/*The Center alignment for the text data looks bad. The Left align is much better*/
.t1 td {
    text-align:left;
}

/* The class t2 table gets a pink color for the bookstore list*/
.t2 th {
    background-color: #FF66CC;
}
/*Finding a way to hightlight text from the stylesheet, rather than inline*/
.highlight {
    background-color: #66FF66;
    color: black;
    font-size: 150%;
}
/*Changing all kinds of things in this ID, to see what happens*/
#special {
    background-color:pink;
    color: green;
    padding: 20px;
    font-size: 125%;
/*Adding a text-shadow property to this ID*/
}
#interests {
    color:black;
    font-size:250%;
    text-shadow: 20px 20px red;
}
a:hover {
    background-color:yellow;
    font-size:30px;
}